@import "_mixins";
@import "_vars";
@import "_presets";
@import "_fonts";
@import "_blocks";
//-------------------<LAYOUT>-------------------//
$minwidth: 320px;
$mw: 1610;
$md0: 1439.98;
$md1: 1199.98;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;




body {
	max-width: 1920px;
	margin: 0 auto;
	color: #fff;
   &.lock {overflow: hidden;}
   @media (min-width:1921px){
      max-width: 100%;
   }
}
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	padding: 0 15px;
	@media (max-width:$md4+px){
		padding: 0 10px;
   }
   @media (min-width:1921px){
      max-width: 100%;
      padding: 0 5%;
   }
}
//-------------------<LAYOUT>-------------------//
//-------------------<STYLES>-------------------//

/* HEADER */
.header {
	padding: 80px 0 60px;
	&__inner {
		max-width: 1350px;
		margin: 0 auto;
	}
	&__top {
		max-width: 1250px;
		margin-left: 40px;
		margin-right: 40px;
		margin-bottom: 115px;
	}
	&__body {
		margin-left: 40px;
		margin-bottom: 300px;
	}
}
.webp .header {
	background: url("../images/header/bg/curve_01-inner.svg") -2% 0% no-repeat,
				url("../images/header/bg/curve_01.svg") 0% 0% no-repeat,
				url("../images/header/bg/inner-shadow.svg") 60% 0% no-repeat,
				url("../images/header/bg/curve_02-inner.svg") 100% 34% no-repeat,
				url("../images/header/bg/shadow-big.webp") 50% -3% no-repeat,
				url("../images/header/bg/curve_02.svg") 100% 36% no-repeat,
				url("../images/common/grid.png") 80% 38% no-repeat;
}
.no-webp .header {
	background: url("../images/header/bg/curve_01-inner.svg") -2% 0% no-repeat,
				url("../images/header/bg/curve_01.svg") 0% 0% no-repeat,
				url("../images/header/bg/inner-shadow.svg") 60% 0% no-repeat,
				url("../images/header/bg/curve_02-inner.svg") 100% 34% no-repeat,
				url("../images/header/bg/shadow-big.png") 50% -3% no-repeat,
				url("../images/header/bg/curve_02.svg") 100% 36% no-repeat,
				url("../images/common/grid.png") 80% 38% no-repeat;
}
.no-js .header {
	background: url("../images/header/bg/curve_01-inner.svg") -2% 0% no-repeat,
				url("../images/header/bg/curve_01.svg") 0% 0% no-repeat,
				url("../images/header/bg/inner-shadow.svg") 60% 0% no-repeat,
				url("../images/header/bg/curve_02-inner.svg") 100% 34% no-repeat,
				url("../images/header/bg/shadow-big.png") 50% -3% no-repeat,
				url("../images/header/bg/curve_02.svg") 100% 36% no-repeat,
				url("../images/common/grid.png") 80% 38% no-repeat;
}
/*Header media quaries*/
@media (min-width:1921px){
   .header {
		&__inner {max-width: 100%;}
		&__top {max-width: 100%;}
		&__body,
		&__bottom {
         max-width: 1920px;
         margin: 0 auto;
			justify-content: space-between;
		}
   }
   .webp .header {
		background: url("../images/header/bg/curve_01-inner.svg") -2% 0% no-repeat,
					url("../images/header/bg/curve_01.svg") 0% 0% no-repeat,
					url("../images/header/bg/curve_02-inner.svg") 100% 34% no-repeat,
					url("../images/header/bg/curve_02.svg") 100% 36% no-repeat,
					url("../images/common/grid.png") 80% 38% no-repeat;
	}
	.no-webp .header {
		background: url("../images/header/bg/curve_01-inner.svg") -2% 0% no-repeat,
					url("../images/header/bg/curve_01.svg") 0% 0% no-repeat,
					url("../images/header/bg/curve_02-inner.svg") 100% 34% no-repeat,
					url("../images/header/bg/curve_02.svg") 100% 36% no-repeat,
					url("../images/common/grid.png") 80% 38% no-repeat;
	}
	.no-js .header {
		background: url("../images/header/bg/curve_01-inner.svg") -2% 0% no-repeat,
					url("../images/header/bg/curve_01.svg") 0% 0% no-repeat,
					url("../images/header/bg/curve_02-inner.svg") 100% 34% no-repeat,
					url("../images/header/bg/curve_02.svg") 100% 36% no-repeat,
					url("../images/common/grid.png") 80% 38% no-repeat;
	}
}
@media (max-width:1279.98px){
   .header {
		&__inner {padding: 0 30px;}
		&__top {margin-left: 0; margin-right: 0;}
		&__body {margin-bottom: 200px; margin-left: 0;}
	}
   .webp .header {
		background: url("../images/header/bg/curve_01-inner.svg") 1% 0% no-repeat,
					url("../images/header/bg/curve_01.svg") 0% 0% no-repeat,
					url("../images/header/bg/curve_02-inner.svg") 100% 34% no-repeat,
					url("../images/header/bg/shadow-big.webp") 50% -3% no-repeat,
					url("../images/header/bg/curve_02.svg") 100% 36% no-repeat,
					url("../images/common/grid.png") 93% 38%/25% no-repeat;
	}
	.no-webp .header {
		background: url("../images/header/bg/curve_01-inner.svg") -2% 0% no-repeat,
					url("../images/header/bg/curve_01.svg") 0% 0% no-repeat,
					url("../images/header/bg/curve_02-inner.svg") 100% 34% no-repeat,
					url("../images/header/bg/shadow-big.png") 50% -3% no-repeat,
					url("../images/header/bg/curve_02.svg") 100% 36% no-repeat,
					url("../images/common/grid.png") 93% 38%/25% no-repeat;
	}
	.no-js .header {
		background: url("../images/header/bg/curve_01-inner.svg") -2% 0% no-repeat,
					url("../images/header/bg/curve_01.svg") 0% 0% no-repeat,
					url("../images/header/bg/curve_02-inner.svg") 100% 34% no-repeat,
					url("../images/header/bg/shadow-big.png") 50% -3% no-repeat,
					url("../images/header/bg/curve_02.svg") 100% 36% no-repeat,
					url("../images/common/grid.png") 93% 38%/25% no-repeat;
	}
	
}
@media (max-width:899.98px){
   .header {padding: 40px 0 60px;}
}
@media (max-width:799.98px){
   .header {
      padding: 40px 0 30px;
		&__top {margin-bottom: 60px;}
		&__bottom-empty {text-align: center; margin: 50px 0;}
	}
   .webp .header {
    	background: url("../images/header/bg/curve_01-inner.svg") 1% 0% no-repeat,
    				url("../images/header/bg/curve_01.svg") 0% 0% no-repeat,
    				url("../images/header/bg/shadow-big.webp") 50% -3% no-repeat,
    				url("../images/common/grid.png") 93% 38%/25% no-repeat;
	}
	.no-webp .header {
    	background: url("../images/header/bg/curve_01-inner.svg") 1% 0% no-repeat,
    				url("../images/header/bg/curve_01.svg") 0% 0% no-repeat,
    				url("../images/header/bg/shadow-big.webp") 50% -3% no-repeat,
    				url("../images/common/grid.png") 93% 38%/25% no-repeat;
	}
	.no-js .header {
    	background: url("../images/header/bg/curve_01-inner.svg") 1% 0% no-repeat,
    				url("../images/header/bg/curve_01.svg") 0% 0% no-repeat,
    				url("../images/header/bg/shadow-big.webp") 50% -3% no-repeat,
    				url("../images/common/grid.png") 93% 38%/25% no-repeat;
   }
}
@media (max-width:479.98px){
   .header {
		&__inner {padding: 0;}
		&__body {margin-bottom: 70px;}
	}
   .webp .header {
    	background: none;
    	background: url("../images/header/bg/curve-top.svg") 25% 0% no-repeat;
    	background-color: #fff;
	}
	.no-webp .header {
    	background: none;
    	background: url("../images/header/bg/curve-top.svg") 25% 0% no-repeat;
    	background-color: #fff;
	}
	.no-js .header {
    	background: none;
    	background: url("../images/header/bg/curve-top.svg") 25% 0% no-repeat;
    	background-color: #fff;
	}
}

/* HEADER */



/* HEADER-TOP */
.menu {
	@include flexbox();
	justify-content: space-between;
	align-items: center;
	&__logo {
		img {
			max-width: 100%;
			height: auto;
		}
	}
	&__list {}
	&__burger {display: none;}
}
.menu-list {
	@include flexbox();
	&__item {
		margin-left: 32px;
		margin-right: 32px;
		&:first-child {margin-left: 0;}
		&:last-child {margin-right: 0;}
	}
	&__link {}
}

/*Header-top media quaries*/
@media (max-width:992.98px){
   .menu-list {
		&__item {margin-left: 16px; margin-right: 16px;}
	}
}
@media (max-width:799.98px){
   .menu {
		&__burger {display: block; top: 11px;}
		&__list {
			position: absolute;
			top: 0;
			left: -100%;
			z-index: 5;
			display: block;
			width: 100%;
			height: 100%;
			text-align: right;
			background-color: #fff;
			left: -130%;
			transition: all ease-in-out .5s;
		}
   }
   
	//hidden menu list items
	.menu-list {
		padding: 150px 0;
		&__item {
			position: relative;
			margin: 0;
			margin: 40px;
			transition: all ease-in-out .3s;
			&:nth-child(1) {left: -100%; opacity: 0; transition-delay: .5s;}
			&:nth-child(2) {left: -100%; opacity: 0; transition-delay: .65s}
			&:nth-child(3) {left: -100%; opacity: 0; transition-delay: .8s}
			&:nth-child(4) {left: -100%; opacity: 0; transition-delay: .95s}
			&:nth-child(5) {left: -100%; opacity: 0; transition-delay: 1.1s}
			&:last-child {margin: 40px;}
		}
   }
   
	//burger menu's when active
	.menu.active {
		.menu__list {position: fixed; left: 0;}
		.menu-list__item {left: 0; opacity: 1;}
		.menu__burger {z-index: 5;}
		.burger {
			&__name {color: #000;}
			&__line-top,
			&__line-bottom {background-color: #000;}
		}
   }
   
	//burger menu's when active
	.burger {
		position: relative;
		display: inline-block;
		&__name {
			@include font-medium();
			font-size: 18px;
			text-transform: uppercase;
			color: #fff;
		}
		&__line-top,
		&__line-bottom {
			content: '';
			position: absolute;
			left: 50%;
			width: 40px;
			height: 4px;
			background-color: #fff;
			border-radius: 10px;
			transform: translateX(-50%);
			transition: all ease-in-out .35s;
		}
		&__line-top {top: -20px;}
		&__line-bottom {top: -10px;}
	}
	.burger.active {
		.burger {
			&__line-top,
			&__line-bottom {
				top: -15px;
				left: 16px;
				width: 25px;
			}
			&__line-top {transform: rotate(45deg);}
			&__line-bottom {transform: rotate(-45deg);}
		}
	}
}
/* HEADER-TOP */


/* HEADER-BODY */
.header-body {
	@include flexbox;
	align-items: center;
	&__column {
		&:first-child {margin-right: -8px;}
	}
	&__title {margin-bottom: 25px;}
	&__text {margin-bottom: 50px;}
	&__link {
		margin-left: 8px;
		margin-right: 20px;
		&:last-child {margin-right: 0;}
	}
}
.header-body__title .header-title {white-space: pre-line;}
.header-body__text .text-small {white-space: pre-line;}

/*Header body media quaries*/
@media (min-width:1921px){
	.header-body {
		&__column {flex-basis: 100%;}
		&__image {text-align: center;}
	}
}
@media (max-width:1920px){
	.header-body {
		&__image img {max-width: 100%;}
	}
}
@media (max-width:799.98px){
   .header-body {flex-direction: column;}
}
@media (max-width:479.98px){
	.header-body {
		&__title {margin-bottom: 15px;}
		&__text {margin-bottom: 35px;}
		&__links {margin-bottom: 30px;}
   }
}
/* HEADER-BODY */


/* HEADER-BOTTOM */
.services-line {
	@include flexbox();
	&__description {max-width: 185px;}
	&__title {margin-bottom: 30px;}
	&__button {margin: 45px 0;}
}
.services-examples {
   width: 100%;
   margin-left: 120px;
	@include flexbox();
	justify-content: space-between;
	align-items: center;
	&__item {padding: 0 5px;}
	&__image {margin-bottom: 25px;}
	&__text {
		@include font-medium();
		font-size: 18px;
		line-height: 26px;
		color: $dark-blue;
		text-align: center;
	}
}

/*Header bottom media quaries*/
@media (max-width:1279.98px){
	.services-line {
		&__description {
			max-width: 100%;
			@include flexbox();
		   flex-direction: column;
		   justify-content: center;
		   text-align: right;
		}
	}
	.services-examples {
		margin-left: 0;
		flex-wrap: wrap;
		&__item {
			flex: 1 1 50%;
			margin-bottom: 40px;
			text-align: center;
			&:nth-child(n+3) {margin-bottom: 0;}
		}
	}
}
@media (max-width:992.98px){
	.services-line {
		&__description {text-align: left;}
	}
}
@media (max-width:799.98px){
	.services-line {
		flex-direction: column;
		&__description {text-align: center;}
		&__text {margin-bottom: 40px;}
		&__button {margin: 0;}
	}
}
@media (max-width:479.98px){
	.services-line {
		&__description {text-align: left;}
		&__title {margin-bottom: 20px;}
	}
	.services-examples {
		&__item {
			margin-bottom: 40px;
			&:last-child {margin-bottom: 0;}
		}
	}
}
/* HEADER-BOTTOM */



/* INTRODUCTION */
.introduction {
	max-width: 100%;
	margin: 0 auto;
	&__content {
		position: relative;
	}
	&__slider {margin-bottom: 125px;}
	&__info {
		position: absolute;
		top: 86px;
		left: 50%;
		z-index: 2;
		max-width: 780px;
		text-align: center;
		transform: translateX(-50%);
		.title-medium,
		.text-small {color: #fff;}
	}
	&__title,
	&__text {max-width: 730px; margin: 0 auto;}
	&__title {margin-bottom: 40px;}
	&__text {margin-bottom: 70px;}
	&__video {
		iframe body {
				background-color: transparent !important;
				border-radius: 12px !important;
		}
	}
}
.color-filter {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		background: linear-gradient(left, #0072ff, #00c6ff);
		opacity: .95;
	}
}
.introduction-slide-item {max-width: 100vw; height: 723px;}
.introduction-slide-item source,
.introduction-slide-item img {
	width: 100%;
	height: 723px;
	object-fit: cover;
	object-position: center;
}

/*Introduction media quaries*/
@media (min-width:900px) and (max-width:917px){
   .introduction {padding-bottom: 125px;}
   .color-filter {
		height: 723px;
		overflow: hidden;
	}
}
@media (max-width:899.98px){
	.introduction {
		&__slider{display: none;}
		&__info {
			position: relative;
			top: 0;
			width: 100%;
			padding: 40px 45px 40px;
		}
	}
	.wrap-video-169 {
		position: relative;
		height: 0;
		padding-bottom: 56.25%;
		overflow: hidden;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-width: 0;
			outline-width: 0;
		}
	}
}
@media (max-width:795px){
	.introduction {
		&__title {margin-bottom: 25px;}
		&__text {margin-bottom: 50px;}
	}
}
@media (max-width:600px){
	.introduction {
		&__video {margin: 0 -30px;}
	}
}
@media (max-width:479.98px){
	.introduction {
		&__title {margin-bottom: 20px;}
		&__text {margin-bottom: 40px;}
		&__info {padding: 30px 10px 50px;}
		&__video {margin: 0 0;}
	}
}
/* INTRODUCTION */



/* BENEFITS */
.benefits {
	padding: 100px 0px 0px;
	overflow: hidden;
	&__header {text-align: center; margin-bottom: 82px;}
	&__header-title {margin-bottom: 11px;}
	&__body {max-width: 1920px; margin: 0 auto;}
	&__item {margin-bottom: 260px;}
	&__bottom {
		@include flexbox();
		margin-top: 235px;
		margin-bottom: 220px;
	}
}
.webp .benefits {
	background: url("../images/benefits/bg/curve_01.png") 100.6% 8% no-repeat,
				url("../images/benefits/bg/curve_01-shadow.png") 100.6% 0% no-repeat,
				url("../images/benefits/bg/curve_02.svg") -1% 20% no-repeat,
				url("../images/benefits/bg/curve_03.png") 101% 69% no-repeat;
}
.no-webp .benefits {
	background: url("../images/benefits/bg/curve_01.png") 100.6% 8% no-repeat,
				url("../images/benefits/bg/curve_01-shadow.png") 100.6% 0% no-repeat,
				url("../images/benefits/bg/curve_02.svg") -1% 20% no-repeat,
				url("../images/benefits/bg/curve_03.png") 101% 69% no-repeat;
}
.no-js .benefits {
	background: url("../images/benefits/bg/curve_01.png") 100.6% 8% no-repeat,
				url("../images/benefits/bg/curve_01-shadow.png") 100.6% 0% no-repeat,
				url("../images/benefits/bg/curve_02.svg") -1% 20% no-repeat,
				url("../images/benefits/bg/curve_03.png") 101% 69% no-repeat;
}

/*Benefits media quaries*/
@media (max-width:1400px){
   .benefits {
		&__item {margin-bottom: 170px;}
	}
   .webp .benefits {
		background: url("../images/benefits/bg/curve_01.png") 100.6% 10%/24% no-repeat,
					url("../images/benefits/bg/curve_01-shadow.png") 101.6% 2%/35% no-repeat,
					url("../images/benefits/bg/curve_02.svg") -1% 20%/35% no-repeat,
					url("../images/benefits/bg/curve_03.png") 101% 93%/30% no-repeat;
	}
	.no-webp .benefits {
		background: url("../images/benefits/bg/curve_01.png") 100.6% 10%/24% no-repeat,
					url("../images/benefits/bg/curve_01-shadow.png") 101.6% 2%/35% no-repeat,
					url("../images/benefits/bg/curve_02.svg") -1% 20%/35% no-repeat,
					url("../images/benefits/bg/curve_03.png") 101% 93%/30% no-repeat;
	}
	.no-js .benefits {
		background: url("../images/benefits/bg/curve_01.png") 100.6% 10%/24% no-repeat,
					url("../images/benefits/bg/curve_01-shadow.png") 101.6% 2%/35% no-repeat,
					url("../images/benefits/bg/curve_02.svg") -1% 20%/35% no-repeat,
					url("../images/benefits/bg/curve_03.png") 101% 93%/30% no-repeat;
	}
}
@media (max-width:1200px){
   .benefits {
		&__item {margin-bottom: 140px;}
	}
   .webp .benefits {
		background: url("../images/benefits/bg/curve_01.png") 100.6% 13%/24% no-repeat,
					url("../images/benefits/bg/curve_01-shadow.png") 101.6% 6%/35% no-repeat,
					url("../images/benefits/bg/curve_02.svg") -1% 27%/35% no-repeat,
					url("../images/benefits/bg/curve_03.png") 101% 93%/30% no-repeat;
	}
	.no-webp .benefits {
		background: url("../images/benefits/bg/curve_01.png") 100.6% 10%/24% no-repeat,
					url("../images/benefits/bg/curve_01-shadow.png") 101.6% 2%/35% no-repeat,
					url("../images/benefits/bg/curve_02.svg") -1% 27%/35% no-repeat,
					url("../images/benefits/bg/curve_03.png") 101% 93%/30% no-repeat;
	}
	.no-js .benefits {
		background: url("../images/benefits/bg/curve_01.png") 100.6% 10%/24% no-repeat,
					url("../images/benefits/bg/curve_01-shadow.png") 101.6% 2%/35% no-repeat,
					url("../images/benefits/bg/curve_02.svg") -1% 27%/35% no-repeat,
					url("../images/benefits/bg/curve_03.png") 101% 93%/30% no-repeat;
	}
}
@media (max-width:1100px){
   .benefits {
      &__inner {padding: 0 30px;}
		&__item {margin-bottom: 100px;}
		&__bottom {margin-top: 170px; margin-bottom: 150px;}
	}
   .webp .benefits {
		background: url("../images/benefits/bg/curve_01.png") 100.6% 18% no-repeat,
					url("../images/benefits/bg/curve_01-shadow.png") 101.6% 13% no-repeat,
					url("../images/benefits/bg/curve_02.svg") -1% 47%/55% no-repeat,
					url("../images/benefits/bg/curve_03.png") 101% 93%/30% no-repeat;
	}
	.no-webp .benefits {
		background: url("../images/benefits/bg/curve_01.png") 100.6% 18% no-repeat,
					url("../images/benefits/bg/curve_01-shadow.png") 101.6% 13% no-repeat,
					url("../images/benefits/bg/curve_02.svg") -1% 47%/55% no-repeat,
					url("../images/benefits/bg/curve_03.png") 101% 93%/30% no-repeat;
	}
	.no-js .benefits {
		background: url("../images/benefits/bg/curve_01.png") 100.6% 18% no-repeat,
					url("../images/benefits/bg/curve_01-shadow.png") 101.6% 13% no-repeat,
					url("../images/benefits/bg/curve_02.svg") -1% 47%/55% no-repeat,
					url("../images/benefits/bg/curve_03.png") 101% 93%/30% no-repeat;
	}
}
@media (max-width:900px){
   .benefits {
      padding: 80px 0px 0px; 
      &__header {margin-bottom: 60px; text-align: left;}
      &__header-title {margin-bottom: 0;}
   }
   .webp .benefits {background: none;}
	.no-webp .benefits {background: none;}
	.no-js .benefits {background: none;}
}


@media (max-width:767.98px){
	.benefits {
		&__bottom {margin-top: 140px; margin-bottom: 120px;}
   }
}
@media (max-width:600px){
   .benefits {
      &__inner {padding: 0;}
   }
}
@media (max-width:479.98px){
	.benefits {
      padding: 80px 0 30px;
		&__header {margin-bottom: 60px;}
      &__body {padding: 0;}
      &__item {
         margin-bottom: 70px;
         &:last-child{margin-bottom: 0;}
      }
      &__bottom {padding: 0; margin: 60px 0;}
   }
}
/* BENEFITS */








//-------------------<STYLES>-------------------//

